body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #000;
    transition: background-color 0.3s ease;
}

.container {
    text-align: center;
}

.business-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    max-width: 100%;
    transition: box-shadow 0.3s ease;
}

.card-header {
    text-align: center;
    padding: 20px;
    background-color: #3498db;
    color: #fff;
}

.card-header img {
    max-width: 150px;
    border-radius: 50%;
}

.card-header h1 {
    margin: 10px 0;
}

.card-body {
    padding: 20px;
}

.card-body .section {
    margin-bottom: 20px;
}

.card-body h2 {
    color: #3498db;
    margin-bottom: 10px;
}

.card-body ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.card-body li {
    margin-bottom: 5px;
}

.card-body p {
    margin: 5px 0;
}

.card-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #3498db;
}

.card-footer a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s ease;
}

.card-footer i {
    margin: 0 10px;
}

.card-footer a:hover {
    color: #ffcc00;
}

.dark-mode {
    background-color: #2c3e50;
}

.dark-mode .business-card {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.dark-mode .card-header {
    background-color: #2c3e50;
}

.dark-mode .card-header h1,
.dark-mode .card-header p,
.dark-mode .card-body p,
.dark-mode .card-footer a {
    color: #fff;
}
